{% extends 'base.html.twig' %}

{% block body %}
    <h1>ItemType list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for itemType in itemTypes %}
            <tr>
                <td><a href="{{ path('itemtype_show', { 'id': itemType.id }) }}">{{ itemType.id }}</a></td>
                <td>{{ itemType.name }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('itemtype_show', { 'id': itemType.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('itemtype_edit', { 'id': itemType.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('itemtype_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
