<h2>Report Menu:</h2>
    <table class="table table-hover" >
        <tr>
            <td> <a href="{{ path('showUsers')}}">All Users</a> </td>
            <td> <a href="{{ path('showAdmins')}}">Administrators</a> </td>
            <td> <a href="{{ path('showRegisteredUsers')}}">Registered Users</a> </td>
            <td> <a href="{{ path('showInventory')}}">All Inventory</a> </td>
            <td> <a href="{{ path('showAvailibleInventory')}}">Availible Inventory</a> </td>
            <td> <a href="{{ path('showRentedInventory')}}">Currently Rented Inventory</a> </td>
            <td> <a href="{{ path('showDonationInventory')}}">Pending Donations</a> </td>
            <td> <a href="{{ path('showSpecialRequests')}}">Special Requests</a> </td>
            <td> <a href="{{ path('showRentalHistory')}}">All Rental History</a> </td>
            <td> <a href="{{ path('showPendingArrivals')}}">Donations Pending Arrival</a> </td>
        </tr>
</table>