<h3> Regalia Rental Confirmation </h3>

WU Regalia Closet has received your rental request. Please remember to return 
the item to {{ admin }} at the Dacus Library by the due date.
<br>

<table>
    <tr>
        <td> Due Date: </td>
        <td> {{ duedate }} </td>
    </tr>
    <tr>
        <td> Username : </td>
        <td> {{ user.username }} </td>
    </tr>
    <tr>
        <td> Name : </td>
        <td> {{ user.fname }} {{ user.lname }} </td>
    </tr>
    <tr>
        <td> Type: </td>
        <td>  {{ item.itemType }}  </td>
    </tr>
    <tr>
        <td> Color :  </td>
        <td>  {{item.itemColor }}  </td>
    </tr>
    <tr>
        <td> School :  </td>
        <td>  {{ item.itemSchool }}  </td>
    </tr>
    <tr>
        <td> Major </td>
        <td>  {{ item.itemMajor }}  </td>
    </tr>
    <tr>
        <td> Description : </td>
    </tr>
    </table>
    {{ item.itemDescription }}
    <br><br>


Thank you for using WU Regalia Closet.
<br><br>
<a href="{{ path('homepage') }}">WU regalia Closet</a>
